<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736716180115-m11elasa2q7enl4vklafr30u8avr8i4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736716180115-m11elasa2q7enl4vklafr30u8avr8i4p</string>
	<key>API_KEY</key>
	<string>AIzaSyDZEEg6teNXeaQdFVngZcJ1749FYPBdGhM</string>
	<key>GCM_SENDER_ID</key>
	<string>736716180115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wael.elmahask.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>uber-wa9</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-wa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736716180115:ios:f7105147f558d1e9</string>
	<key>DATABASE_URL</key>
	<string>https://uber-wa9-b4c91.firebaseio.com</string>
</dict>
</plist>